body{font:inherit;vertical-align:baseline;font-family: "Century Gothic","MicroSoft YaHei","hiragino sans GB","Helvetica Neue","Helvetica,Arial","sans-serif";font-size:14px;color:#444444;-webkit-font-smoothing:antialiased;}
html,body{height:100%;overflow-x:hidden;}
input,button{font-family:"Century Gothic","MicroSoft YaHei","hiragino sans GB","Helvetica Neue","Helvetica,Arial","sans-serif";font-size:14px;}
h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,select,object,i,em{margin:0px;padding:0px;outline:none;}
address,cite,code,em,th,i,h1,h2,h3,h4,h5,h6{font-style:normal;}
i,ul,li,ol{list-style:none;}
li{vertical-align:bottom}
button,submit{cursor:pointer;}
object,textarea,img,iframe{vertical-align:middle;}
img{border:0px;}
textarea{overflow:auto;}
s{text-decoration:none;}
table{border-collapse:collapse;}
table tr td{word-wrap:break-word;}

*{margin:auto;}
a{text-decoration:none;color:#444;}
a:hover{color:#c40013;}
@-moz-keyframes aAnimate{
    0%{transform:translateY(-5px);}
    50%{transform:translateY(5px);}
    100%{transform:translateY(0);}
}
@-webkit-keyframes aAnimate{
    0%{transform:translateY(-5px);}
    50%{transform:translateY(5px);}
    100%{transform:translateY(0);}
}
@keyframes aAnimate{
    0%{transform:translateY(-5px);}
    50%{transform:translateY(5px);}
    100%{transform:translateY(0);}
}